@charset "utf-8";

/* .about-content-bg{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../imgs/about-bg.svg");
  background-color: #fff;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 3s ease-in-out;
} */

.detail-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.detail-content::after{
  content: '';
  display: block;
  clear: both;
}
.about-content::after{
  content: '';
  display: block;
  clear: both;
}

.about-content h2 span{
  border-top: 3px solid #3e3a39;
}
#wow {
  /* padding: 5%; */
  width: 100%;
}

.committee-list{
  /* margin-top: 5%; */
  font-size: 1.4rem;
}
.committee-list > li {
  /* background: yellow; */
  margin-top: 10px;
}
.committee-list span{
  display: block;
  margin-top: 10px;
}

.committee-list ul {
  /* background: red; */
  border-top: 1px solid #3e3a39;
  border-bottom: 1px solid #3e3a39;
  padding: 15px 5px;
  /* margin: 25px 0; */
}
.committee-list ul li {
  float: left;
  width: 25%;
}
.committee-list ul::after{
  content: '';
  display: block;
  clear: both;
}
#sponsor ul {
  padding-top: 5%;
}
#sponsor li {
  float: left;
  width: 50%;
  padding: 5%;
  /* background: red; */
}
#sponsor li::after{
  content: '';
  display: block;
  clear: both;
}

/* 와이드 스크린 대응 */
@media all and (min-width:1700px){
  .sub-title {
    /* background: skyblue; */
    font-size: 3.5rem;
    float: left;
    width: 40%;
    position: relative;
    /* left: -15%; */
    text-align: center;
    margin-top: 10px;
  }
  .about-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
    background: #fff;
  }
  .about-content h2 {
    font-size: 5rem;
    padding-bottom: 7%;
    text-align: left;
    /* background: skyblue; */
  }
  #intro, #wow, #committee, #sponsor {
    height: 100vh;
    text-align: center;
    overflow: hidden;
  }
  .thumb-img {
    min-width: 900px;
    float: left;
    position: fixed;
    top: 50%;
    padding-left: 2%;
    transform: translateY(-50%);
  }
  .thumb-img img {
    width: 50%;
    padding: 3%;
  }
  .content-wrapper{
    width: 50%;
    float: right;
  }
  #wow p {
    /* margin-top: 12%; */
    line-height: 1.6;
    font-size: 3rem;
    text-align: left;
    word-break: keep-all; 
    /* width: 50%; */
    float: left;
    letter-spacing: -0.04em;
  }
  .committee-list{
    /* margin-top: 5%; */
    font-size: 2.5rem;
  }
}
/* 데스크탑 */
@media (min-width: 800px) and (max-width: 1699px){
  .sub-title {
    /* background: skyblue; */
    font-size: 2.5rem;
    float: left;
    width: 40%;
    position: relative;
    /* left: -15%; */
    text-align: center;
    margin-top: 10px;
  }
  .about-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 5%;
    background: #fff;
  }
  .about-content h2 {
    font-size: 3rem;
    padding-bottom: 7%;
    text-align: left;
    /* background: skyblue; */
  }
  #intro, #wow, #committee, #sponsor {
    height: 100vh;
    text-align: center;
    overflow: hidden;
  }
  .thumb-img {
    width: 50%;
    width: 700px;
    /* max-width: 700px; */
    float: left;
    position: fixed;
    top: 50%;
    padding-left: 2%;
    transform: translateY(-50%);
  }
  .thumb-img img {
    width: 50%;
    padding: 3%;
  }
  .content-wrapper{
    width: 50%;
    float: right;
  }
  #wow p {
    /* margin-top: 12%; */
    line-height: 1.6;
    font-size: 1.8rem;
    text-align: left;
    word-break: keep-all; 
    /* width: 50%; */
    float: left;
    letter-spacing: -0.04em;
  }
  
}
  
/* 모바일 */
@media screen and (max-width:799px){
  .sub-title {
    /* background: skyblue; */
    font-size: 2rem;
    float: left;
    width: 40%;
    position: relative;
    /* left: -15%; */
    text-align: center;
    margin-top: 20px;
  }
  .about-content {
    width: 100%;
    background: #fff;
  }
  .about-content h2 {
    font-size: 2.5rem;
    padding-bottom: 7%;
    text-align: left;
    /* background: skyblue; */
  }
  #intro, #wow, #committee, #sponsor {
    height: 100vh;
    text-align: center;
    overflow: hidden;
    padding: 10%;
  }
  .thumb-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    /* text-align: center; */
    padding: 5% 5%;
    
  }
  .thumb-img img {
    /* background: red; */
    width: 90%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    /* left: 50%; */
    /* margin: 0 auto; */
    opacity: 0.2;
    
  }
  .content-wrapper {
    width: 100%;
    text-align: center;
  }
  #wow p {
    line-height: 1.6;
    font-size: 1.6rem;
    text-align: left;
    word-break: keep-all; 
    float: left;
    /* letter-spacing: -0.04em; */
  }
}