@charset "utf-8";
.films-content-bg{
  background-image: url("../imgs/films-bg.svg");
  background-color: #fff;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.films-content {
  max-width: 980px;
  margin: 0 auto;
  /* background: #fff; */
}
.films-content h2 {
  font-size: 4rem;
}
#films-intro, #film01, #film02, #film03, #film04 {
  height: 100vh;
  text-align: center;
}
#films-intro img {
  width: 70%;
}