@charset "utf-8";

#wow .wow-img, .committee-list, #sponsor ul {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.5s ease-in;
}
#wow .wow-img.fade-in{
  transform: translateY(0);
  opacity: 1;
}
.committee-list.fade-in{
  transform: translateY(0);
  opacity: 1;
}
#sponsor ul.fade-in{
  transform: translateY(0);
  opacity: 1;
}