@charset "utf-8";

#wow, #committee, #sponsor {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in;
}
#wow.fade-in{
  transform: translateY(0);
  opacity: 1;
}
#committee.fade-in{
  transform: translateY(0);
  opacity: 1;
}
#sponsor.fade-in{
  transform: translateY(0);
  opacity: 1;
}