@charset "utf-8";
@font-face {
  font-family: 'GonganB';
  src: url(../fonts/GonganB) format('opentype', 'truetype');
}

body {
  font-family: GonganB;
  color: #3e3a39;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}
.logo{
  padding-left: 30px;
  min-width:5%;
  max-width:5%;
  position: fixed;
  top:3%;
  left:3%;
}
.hivcd{
  min-width:2%;
  max-width:2%;
  position: fixed;
  top:3%;
  left:50%;
  /*transform: translate(-50%, -50%);*/
}
nav{
  min-width:3%;
  max-width:3%;
  position: fixed;
  right:3%;
  top:3%;
}

nav ul {
  background: slategray;
}

nav ul li {
  float: left;
}

nav a {
  color: #3e3a39;
}

nav ul li::after {
  content: '';
  display: block;
  clear: both;
}

main {
  width: 100%;
  height: auto;
}

footer {
  position: fixed;
  bottom: 5%;
  right: 3%;
}
.back{
  position: fixed;
  bottom: 5%;
  left: 3%;
  padding-left: 30px;
  font-size: 3rem;
  margin-right: 15px;
  color: #3e3a39;
}
.back .white{
  color: #727171;
}
footer .fa {
  font-size: 3rem;
  margin-right: 15px;
  color: #3e3a39;
}
footer.white .fa {
  font-size: 3rem;
  margin-right: 15px;
  color: #727171;
}
footer.white2 .fa {
  font-size: 3rem;
  margin-right: 15px;
  color: #c9c9ca;
}