@charset "utf-8";

.wow-content-bg{
  background-color: #fff;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.wow-content::after{
  content: '';
  display: block;
  clear: both;
}

.wow-content h2 span{
  border-top: 3px solid #3e3a39;
}

/* 와이드 스크린 대응 */

@media all and (min-width: 1700px){
  .sub-title {
    /* background: skyblue; */
    font-size: 3.5rem;
    float: left;
    width: 40%;
    position: relative;
    /* left: -15%; */
    text-align: center;
    margin-top: 10px;
  }
  .wow-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
    background: #fff;
  }
  .wow-content h2 {
    font-size: 5rem;
    padding-bottom: 7%;
    text-align: left;
    /* background: skyblue; */
  }
  #wow-intro, #keynote, #main-poster, #promotion-film, #eve-festival, #eve-festival-img {
    height: 100vh;
    text-align: center;
    overflow: hidden;
  }
  .wow-thumb-img {
    /* width: 50%; */
    min-width: 1000px;
    float: left;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    /* background: skyblue; */
  }
  .wow-thumb-img img{
    width: 20%;
    display: block;
    padding: 2%;
    margin-left: 10%;
    /* background: red; */
  }
  .wow-thumb-img .left{
    /* text-align: left; */
    /* margin-top: 15%; */
  }
  .wow-thumb-img .right{
    margin-top: -3%;
    margin-left: 25%;
  }
  .wow-content p {
    text-align: left;
    font-size: 3rem;
    line-height: 1.6;
    word-break: keep-all; 
    letter-spacing: -0.04em;
  }
  #main-poster img, #eve-festival-img img {
    width: 90%;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.5);
  }
}

/* 데스크탑 */
@media (min-width:800px) and (max-width: 1699px){
  .wow-content {
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
    padding: 0 5%;
  }
  .wow-content h2 {
    font-size: 3rem;
    padding-bottom: 7%;
    text-align: left;
  }
  #wow-intro, #keynote, #main-poster, #eve-festival, #eve-festival-img {
    height: 100vh;
    text-align: center;
    overflow: hidden;
    /* padding: 3%; */
  }
  .wow-thumb-img {
    width: 50%;
    min-width: 600px;
    float: left;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    /* background: skyblue; */
  }
  .wow-thumb-img img{
    width: 20%;
    display: block;
    padding: 2%;
    margin-left: 10%;
    /* background: red; */
  }
  .wow-thumb-img .left{
    /* text-align: left; */
    /* margin-top: 15%; */
  }
  .wow-thumb-img .right{
    margin-top: -3%;
    margin-left: 25%;
  }
  .wow-content p {
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.6;
    word-break: keep-all; 
    letter-spacing: -0.04em;
  }
  #main-poster img, #eve-festival-img img {
    width: 90%;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.5);
  }
}

/* 모바일 */
@media screen and (max-width:799px){
  .wow-content {
    max-width: 960px;
    background: #fff;
  }
  .wow-content h2 {
    font-size: 2.5rem;
    padding-bottom: 7%;
    text-align: left;
  }
  #wow-intro, #keynote, #main-poster, #eve-festival, #eve-festival-img {
    height: 100vh;
    text-align: center;
    overflow: hidden;
    padding: 10%;
  }
  .wow-thumb-img {
    width: 100%;
    height: 100vh;
    position: fixed;
    /* background: skyblue; */
    /* z-index: -1; */
    /* text-align: center; */
  }
  .wow-thumb-img img{
    width: 45%;
    display: block;
    padding: 2%;
    margin-left: 10%;
    opacity: 0.2;
    /* background: red; */
  }
  .wow-thumb-img .left{
    /* text-align: left; */
    /* margin-top: 15%; */
  }
  .wow-thumb-img .right{
    margin-top: -5%;
    margin-left: 50%;
  }
  .wow-content p {
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.6;
    word-break: keep-all; 
  }
  #main-poster img, #eve-festival-img img {
    width: 90%;
    max-width: 380px;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.5);
  }
}